
.autocomplete-suggestions {
    border: 1px solid #999;
    background: #fff;
    cursor: default;
    overflow: auto; 
    min-width: 250px;
}

.autocomplete-suggestion {
    padding: 10px 5px;
    font-size: 1.2em;
    white-space: nowrap;
    overflow: hidden;
}

.autocomplete-selected { 
    background: #f0f0f0; 
}

.autocomplete-suggestions strong { 
    font-weight: normal; 
    color: #3399ff; 
}